@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

html{
    overflow-x: hidden;
}
body{
    margin-left:0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-x: hidden;
}


.HorarioIcon{
    grid-row: 1;
    grid-column: 2/3;
    width: auto;
    height: auto;
    background-image: url(/assets/Iconos/tools-and-utensils.svg);
    background-size: 100% 100%;
}
.HorarioWords{
    grid-row: 1;
    grid-column: 3/4;
}
.WordsHorario{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.EnvioIcon{
    grid-row: 1;
    grid-column: 5/6;
    width: auto;
    height: auto;
    background-image: url(/assets/Iconos/automobile.svg);
    background-size: 100% 100%;
}
.EnvioWords{
    grid-row: 1;
    grid-column: 6/8;
}
.WordsEnvio{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}


.Facebook{
    padding-top: 4px;
    color: #111;
    text-align: center;
    font-size: 150%;
    width: 100%;
    grid-row: 1;
    grid-column: 10/11;
    border-left: 1px solid black; 
    border-right: 1px solid black;
}
.Instagram{
    padding-top: 4px;
    color: #111;
    text-align: center;
    font-size: 150%;
    width: 100%;
    grid-row: 1;
    grid-column: 11/12;
    border-right: 1px solid black; 
}

.navcont{
    position: relative;
}

/* INICIO DE BODY */



.Body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: repeat(auto,25px);
    grid-template-columns: repeat(27,1fr);
    overflow-x: hidden !important;
}
.top{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 300;
}
/*
background-color: #364586;
background-color: #4c903b;
*/
.top:hover{
    background-color: #333333;
}
.top_mobile{
    grid-row: 6/7;
    grid-column: 4/8;
    text-align: center;
    top: 50%;
    display: none;
    min-height: 75px;
}

.nav-links{
    display: none;
}

.Inicio{
    grid-row: 4/7;
    grid-column: 5/8;
}
.Nosotros{
    grid-row: 4/7;
    grid-column: 8/11;
    background-color: #333333;
}
.Contactenos{
    grid-row: 4/7;
    grid-column: 11/15;
}
.Logo_inicio{
    grid-row: 1/4;
    grid-column: 13/16;
}
.Prods{
    grid-row: 4/7;
    grid-column: 15/18;
}
.Marcas{
    grid-row: 4/7;
    grid-column: 18/21;
}
.Servicios{
    grid-row: 4/7;
    grid-column: 21/24;
    align-items: center;
    justify-content: center;
}
.Content_nav_in{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 100%;
    display: flex;
    height: 100%;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 75px;
}
.Content_nav_in h2{
    font-weight: bolder;
    font-size: 150%;
}
.Content_nav_in h2:hover {
    color: rgb(211, 211, 211);
}
.Content_nav_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 75px;
    width: 100%;
}
.Content_nav_logo img{
    width: 82.66px;
    max-height: 75px;
    min-height: 56.25px;
}

.alltop{
    grid-row: 4/7;
    grid-column: 1/28;
    background-color: #364586;

}
/*
background-color: #fac227;
background-color: #364586;
background-color: #4c903b;
*/

.ImageContainer{
    grid-row: 7/13;
    grid-column: 1/28;
    background-image: url(/assets/Body/paper-3213924_1920.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
}
.ImageContainer h1{
    margin-top: 90px;
    margin-left: 50px;
    color: white;
}

.ContactoPal{
    grid-row: 15/18;
    grid-column: 6/23
}
.ContactoPal h1{
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    text-transform: uppercase;
}
.LineCont{
    height: 4px;
    width: 100%;
    grid-row: 18/19;
    grid-column: 6/23;
    background: #4c903b;
}



main{
    grid-row: 19/29;
    grid-column: 1/28;
}
.CenterDivider{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(19,50px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    font-size: 16.7px;
}
.CenterIn{
    grid-row: 1/7;
    grid-column: 2/8;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.CenterIn p{
    position: relative;
    margin-top: 0px;
    margin-bottom: 10px;
}
.LeftColIn{
    grid-column: 2/5;
    grid-row: 7/14;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    
}
.LeftColIn h2{
    color: whitesmoke;
    margin-bottom: 0px;
}
.LineLeft{
    width: 100px;
    height: 3px;
    background-color: rgb(255, 255, 255);
}
.LeftColIn p{
    color: whitesmoke;
}
.LeftImage{
    grid-column: 1/5;
    grid-row: 7/14;
    background-image: url(/assets/Body/writing-828911_1920.jpg);
    background-size: cover;
}
.RightColIn{
    grid-column: 5/8;
    grid-row: 7/14;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.LineRightUp{
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}
.RightColIn h2{
    color: whitesmoke;
    margin: 10px 0;
}
.LineRightDown{
    width: 100px;
    height: 3px;
    background-color: rgb(255, 255, 255);
}
.RightColIn p{
    color: whitesmoke;
}
.RightImage{
    grid-column: 5/9;
    grid-row: 7/14;
    background-image: url(/assets/Body/lab-316553_1280.jpg);
    background-size: cover;
}
.BottomIn{
    grid-column: 3/7;
    grid-row: 14/20;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.BottomImage{
    grid-column: 1/9;
    grid-row: 14/20;
    background-image: url(/assets/Body/home-office-336377_1920.jpg);
    background-size: cover;
}
.LineBottom{
    height: 4px;
    width: 100%;
    background-color: white;
}
.BottomIn h2{
    color: whitesmoke;
    margin-bottom: 0px;
}
.BottomIn p{
    color: whitesmoke;
}



footer{
    grid-row: 80/91;
    grid-column: 1/28;
    background-color: #f1f1f1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-logoin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Copy{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #111;
}
.f-logo{
    color: #fff;
    font-family: bebas kai;
    letter-spacing: 2px;
    padding: 5px 10px;
    font-size: 25px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.f-logo img{
    width: 150px;
    position: relative;
}
.section{
    display: flex;
    justify-content: space-between;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}
.section ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px 17.8px;
}
.section h1{
    color: #001a21;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section ul li{
    list-style: none;
}
.section ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #001a21;
}
.section ul li p{
    font-size: 14px;
    color: #001a21;
    line-height: 10px;
}
.social-icons a{
    text-decoration: none;
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    background-color: #424356;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons{
    display: flex;
}
.social-icons i{
    color: #FFFFFF;
    font-size: 14px;
}
.social-icons a:hover{
    background-color: #9a9ff6;
    transition: all ease 0.5s;
}
.social-icons a:hover i{
    color: #424356;
}


@media screen and (max-width:1125px){
    .top{
        font-size: 14px;
    }
}


@media screen and (max-width:1024px){
    .top{
        font-size: 13px;
    }
}

@media screen and (max-width:880px){
    .top{
        font-size: 11px;
    }
}
@media screen and (max-width:863px){
    .CenterDivider{
        grid-template-rows: repeat(20,50px);

    }
    .CenterIn{
        grid-row: 1/8;
        grid-column: 2/8;
    }
    .LeftColIn{
        grid-column: 2/5;
        grid-row: 8/15;    
    }
    .LeftImage{
        grid-column: 1/5;
        grid-row: 8/15;
    }
    .RightColIn{
        grid-column: 5/8;
        grid-row: 8/15;
    }
    .RightImage{
        grid-column: 5/9;
        grid-row: 8/15;

    }
    .BottomIn{
        grid-row: 15/21;
    }
    .BottomImage{
        grid-row: 15/21;
    }

}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden !important;
    }
    .top{
        display: none;
    }
    .top_mobile{
        grid-row: 4/7;
        grid-column: 21/23;
        text-align: center;
        display: flex;
        font-size: 150%;
        z-index: 11;
    }
    .fa-bars{
        margin-top: 25px;
        margin-bottom: 25px;
        cursor: pointer;
    }
    .nav-links{
        padding: 0px;
        justify-content: space-around;
        position: absolute;
        display: flex;
        right: 0px;
        height: 92vh;
        top: 60px;
        background-color: #1a1a1a;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        width: 100%;
        z-index: 10;
        transition: transform 0.5s ease-in;
        font-family: 'Poppins', sans-serif;
    }
    .nav-links li{
        list-style: none;
        opacity: 0;
    }
    .nav-links a{
        color: #d9d9d9;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }



    .CenterDivider{
        grid-template-rows: repeat(25,50px);
    }
    .CenterIn{
        grid-row: 1/8;
        grid-column: 2/8;
    }
    .LeftColIn{
        grid-column: 2/8;
        grid-row: 8/14;
    }
    .LeftImage{
        grid-column: 1/9;
        grid-row: 8/14;
    }
    .RightColIn{
        grid-column: 2/8;
        grid-row: 14/20;
    }
    .RightImage{
        grid-column: 1/9;
        grid-row: 14/20;
    }
    .BottomIn{
        grid-row: 20/26;
        grid-column: 2/8;
    }
    .BottomImage{
        grid-row: 20/26;
    }




    footer{
        padding-top: 0px;
        grid-row: 80/101;
        grid-column: 1/28;
    }
    .section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}
.nav-active{
    transform: translateX(0%);
}
.fa-window-close{
    color: rgb(233, 233, 233);
}

@media screen and (max-width:681px){
    .CenterDivider{
        grid-template-rows: repeat(27,50px);
    }
    .CenterIn{
        grid-row: 1/10;
        grid-column: 2/8;
    }
    .LeftColIn{
        grid-column: 2/8;
        grid-row: 10/16;
    }
    .LeftImage{
        grid-column: 1/9;
        grid-row: 10/16;
    }
    .RightColIn{
        grid-column: 2/8;
        grid-row: 16/22;
    }
    .RightImage{
        grid-column: 1/9;
        grid-row: 16/22;
    }
    .BottomIn{
        grid-row: 22/28;
    }
    .BottomImage{
        grid-row: 22/28;
    }


}

@media screen and (max-width:502px){
    .CenterDivider{
        grid-template-rows: repeat(31,50px);
    }
    .CenterIn{
        grid-row: 1/12;
        grid-column: 2/8;
    }
    .LeftColIn{
        grid-column: 2/8;
        grid-row: 12/19;
    }
    .LeftImage{
        grid-column: 1/9;
        grid-row: 12/19;
    }
    .RightColIn{
        grid-column: 2/8;
        grid-row: 19/25;
    }
    .RightImage{
        grid-column: 1/9;
        grid-row: 19/25;
    }
    .BottomIn{
        grid-row: 25/32;
    }
    .BottomImage{
        grid-row: 25/32;
    }
}

@media screen and (max-width:475px){
    .ContactoPal h1{
        font-size: 25px;
    }
    .ImageContainer{
        height: 250px;
    }
    .ImageContainer h1{
        margin-top: 90px;
        margin-left: 40px;
        font-size: 25px;
    }
}

@media screen and (max-width:400px){
    .CenterDivider{
        grid-template-rows: repeat(35,50px);
    }
    .CenterIn{
        grid-row: 1/14;
        grid-column: 2/8;
    }
    .LeftColIn{
        grid-column: 2/8;
        grid-row: 14/22;
    }
    .LeftImage{
        grid-column: 1/9;
        grid-row: 14/22;
    }
    .RightColIn{
        grid-column: 2/8;
        grid-row: 22/28;
    }
    .RightImage{
        grid-column: 1/9;
        grid-row: 22/28;
    }
    .BottomIn{
        grid-row: 28/36;
    }
    .BottomImage{
        grid-row: 28/36;
    }
}


@media screen and (max-width:350px){
    .ImageContainer{
        height: 225px;
    }
    .ImageContainer h1{
        margin-top: 90px;
        margin-left: 30px;
        font-size: 20px;
    }


    .CenterDivider{
        grid-template-rows: repeat(38,50px);
    }
    .CenterIn{
        grid-row: 1/16;
        grid-column: 2/8;
    }
    .LeftColIn{
        grid-column: 2/8;
        grid-row: 16/25;
    }
    .LeftImage{
        grid-column: 1/9;
        grid-row: 16/25;
    }
    .RightColIn{
        grid-column: 2/8;
        grid-row: 25/31;
    }
    .RightImage{
        grid-column: 1/9;
        grid-row: 25/31;
    }
    .BottomIn{
        grid-row: 31/39;
    }
    .BottomImage{
        grid-row: 31/39;
    }

}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}