@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



html{
    overflow-x: hidden;
}
body{
    margin-left:0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-x: hidden;
}

.Container{
    display: grid;
    grid-auto-rows: minmax(75px,auto);
    grid-auto-columns: minmax(1fr, auto);
}


.HorarioIcon{
    grid-row: 1;
    grid-column: 2/3;
    width: auto;
    height: auto;
    background-image: url(/assets/Iconos/tools-and-utensils.svg);
    background-size: 100% 100%;
}
.HorarioWords{
    grid-row: 1;
    grid-column: 3/4;
}
.WordsHorario{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.EnvioIcon{
    grid-row: 1;
    grid-column: 5/6;
    width: auto;
    height: auto;
    background-image: url(/assets/Iconos/automobile.svg);
    background-size: 100% 100%;
}
.EnvioWords{
    grid-row: 1;
    grid-column: 6/8;
}
.WordsEnvio{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}


.Facebook{
    padding-top: 4px;
    color: #111;
    text-align: center;
    font-size: 150%;
    width: 100%;
    grid-row: 1;
    grid-column: 10/11;
    border-left: 1px solid black; 
    border-right: 1px solid black;

}
.Instagram{
    padding-top: 4px;
    color: #111;
    text-align: center;
    font-size: 150%;
    width: 100%;
    grid-row: 1;
    grid-column: 11/12;
    border-right: 1px solid black; 
}


/* INICIO DE BODY */



.Body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: repeat(109,25px);
    grid-template-columns: repeat(27,1fr)
}
.top{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 300;
}
/*
background-color: #364586;
background-color: #4c903b;
*/


.TextTop{
    grid-row: 1/4;
    grid-column: 2/9;
    display: flex;
    align-items: center;
}
.TextTop h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.RedesSocialesTop{
    grid-row: 1/4;
    grid-column: 20/27;
    display: flex;
    align-items: center;
}
.RedesSocialesTopIn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.RedesSocialesTopIn p{
    margin: 10px 10px;
}
.RedSocial{
    text-decoration: none;
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    background-color: #364586;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.RedSocial:hover{
    background-color: whitesmoke;
}
.RedSocial:hover i{
    color: #364586;
}
.RedSocial i{
    color: #FFFFFF;
    font-size: 14px;
}
.top:hover{
    background-color: #333333;
}
.top_mobile{
    grid-row: 6/7;
    grid-column: 4/8;
    text-align: center;
    top: 50%;
    display: none;
}
.nav-links{
    display: none;
}
.Inicio{
    grid-row: 4/7;
    grid-column: 5/8;
    background-color: #333333;
}
.Nosotros{
    grid-row: 4/7;
    grid-column: 8/11;
}
.Contactenos{
    grid-row: 4/7;
    grid-column: 11/15;
}
.Logo_inicio{
    grid-row: 1/4;
    grid-column: 13/16;
}
.Prods{
    grid-row: 4/7;
    grid-column: 15/18;
}
.Marcas{
    grid-row: 4/7;
    grid-column: 18/21;
}
.Servicios{
    grid-row: 4/7;
    grid-column: 21/24;
    align-items: center;
    justify-content: center;
}
.Content_nav_in{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 100%;
    display: flex;
    height: 100%;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}
.Content_nav_in:hover h2{
    transform: scale(1.1);
    transition: ease-in .3s;
}
.Content_nav_in h2{
    font-weight: bolder;
    font-size: 150%;
}
.Content_nav_in h2:hover {
    color: rgb(211, 211, 211);
}
.Content_nav_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 100%;
    width: 100%;
}
.Content_nav_logo img{
    width: auto;
    height: 75%;
}
.navcont{
    position: relative;
}

.alltop{
    grid-row: 4/7;
    grid-column: 1/28;
    background-color: #364586;

}
/*
background-color: #fac227;
background-color: #364586;
background-color: #4c903b;
*/

#Slide2 .title h1{
    padding: 40px 80px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    grid-row: 7/32;
    grid-column: 1/28;
}
.swiper-slide {
    font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.swiper-slide .title h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 41px;
    font-weight: 300;
    padding: 40px 60px;
}
.swiper-slide .subtitle h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    padding: 20px 60px;
}
.swiper-slide .text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    max-width: 500px;
    line-height: 1.3;
    padding: 10px 60px;
    margin-bottom: 80px;
    margin-left: 20px;
}
.swiper-slide .text p a{
    text-decoration: none;
    color: rgb(37, 177, 98);
}


.swiper-pagination-bullet {
    background-color: #fff !important;
}
.swiper-pagination-bullet-active {
    background-color: rgb(255, 179, 0) !important;
}
.alldown{
    grid-row: 32/33;
    grid-column: 1/28;
    background-color: #364586;
}

.ContentCenter{
    grid-row: 35/65;
    grid-column: 3/26;
    display: grid;
    grid-template-rows: repeat(auto,25px);
    grid-template-columns: repeat(12,1fr);
}
.Bienvenido{
    grid-row: 1/2;
    grid-column: 1/13;
}
.Bienvenido h1{
    font-size: 29px;
    margin: 0px;
}
.LineBien1{
    grid-row: 2/3;
    grid-column: 1/2;
    height: 5px;
    background: #333333;
}
.LineBien2{
    grid-row: 2/3;
    grid-column: 2/10;
    height: 5px;
    background: #c2c2c231;
}
.CenterUpperText{
    grid-row: 3/4;
    grid-column: 1/13;
}
.CenterUpperText p{
    margin: 0;
    font-weight: 200;
    font-size: 20px;
}
.Center{
    grid-row: 4/10;
    grid-column: 1/8;
    display: grid;
    grid-template-rows: repeat(auto,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    margin: 10px;
}
.EachService{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 330px;
}
.EachService img{
    width: 50%;
    transition: ease-in-out .3s;
}
.EachService img:hover{
    transform: scale(1.1);
    transition: ease-in .2s;
}
.EachService p{
    text-align: center;
    margin: 10px 0;
}
.EachService h2{
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
}
.Workers{
    grid-row: 3/10;
    grid-column: 8/13;
    position: relative;
}
.CenterDown{
    margin: 0px;
    padding: 0px;
    grid-row: 10/13;
    grid-column: 1/13;
    background: #252525;
    height: 100%;
    display: flex;
}

.Experience{
    grid-row: 65/99;
    grid-column: 1/29;
    background-color: #252525;
}
.MainText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-row: 67/70;
    grid-column: 6/23;
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.MainText h1{
    position: relative;
    margin: 0;
    text-transform: uppercase;
}
.LineMainText{
    background-color: whitesmoke;
    margin-top: 5px;
    grid-row: 70/71;
    height: 5px;
    width: 100%;
    grid-column: 4/25;
}
.Mercados{
    grid-row: 71/118;
    grid-column: 3/26;
}
.MercadosIn{
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(2,250px);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    grid-row-gap: 60px;
}
.EachMercado{
    display: grid;
    grid-template-rows: repeat(10,25px);
    grid-template-columns: repeat(1,1fr);
    max-width: 400px;
}
.MercImg{
    grid-row: 1/9;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    transition: linear .15s;
}
.MercImg:hover{
    transform: scale(1.1);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) .2s;
}
#Img1{
    background-image: url(/assets/Body/pinwheel-4718768_1920.jpg);
    background-size: cover;
}
#Img2{
    background-image: url(/assets/Body/businessman-2682712_1920.jpg);
    background-size: cover;
}
#Img3{
    background-image: url(/assets/Body/building-768815_1920.jpg);
    background-size: cover;
}
#Img4{
    background-image: url(/assets/Body/dock-441989_1920.jpg);
    background-size: cover;
}
#Img5{
    background-image: url(/assets/Body/fan-3645379_1920.jpg);
    background-size: cover;
}
#Img6{
    background-image: url(/assets/Body/drone-1462463_1920.jpg);
    background-size: cover;
}
#Img7{
    background-image: url(/assets/Body/conference-room-768441_1920.jpg);
    background-size: cover;
}
#Img8{
    background-image: url(/assets/Body/digital-marketing-1725340_1920.jpg);
    background-size: cover;
}
.MercText{
    grid-row: 9/11;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MercText h2{
    color: whitesmoke;
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 0;
}






footer{
    grid-row: 99/111;
    grid-column: 1/28;
    background-color: #f1f1f1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-logoin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Copy{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #111;
    width: 170px;
    text-align: center;
}
.f-logo{
    color: rgb(110, 110, 110);
    font-family: bebas kai;
    padding: 5px 10px;
    font-size: 9px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 150px;
}
.f-logo img{
    width: 150px;
    position: relative;
}
.section{
    display: flex;
    justify-content: space-between;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}
.section ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px 17.8px;
}
.section h1{
    color: #001a21;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section ul li{
    list-style: none;
}
.section ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #001a21;
}
.section ul li p{
    font-size: 14px;
    color: #001a21;
    line-height: 10px;
}
.social-icons a{
    text-decoration: none;
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    background-color: #424356;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons{
    display: flex;
}
.social-icons i{
    color: #FFFFFF;
    font-size: 14px;
}
.social-icons a:hover{
    background-color: #9a9ff6;
    transition: all ease 0.5s;
}
.social-icons a:hover i{
    color: #424356;
}
.ContactFooter{
    font-weight: 600;
}
.section ul li a:hover{
    font-weight: 600;
}



@media screen and (min-width:1980px){

    .Body{
        grid-template-rows: repeat(120,25px);
        grid-template-columns: repeat(27,1fr);
    }
    .ContentCenter{
        grid-row: 45/75;
        grid-column: 3/26;
    }
    .swiper-container {
        grid-row: 7/42;
    }    
    .alldown{
        grid-row: 42/43;
    }
    .Experience{
        grid-row: 75/109;
    }

    footer{
        grid-row: 109/122;
        grid-column: 1/28;
    }
    .MainText{
        grid-row: 76/79;
        grid-column: 6/23;
        font-size: 12px;
    }
    .LineMainText{
        grid-row: 79/80;
    }
    .Mercados{
        grid-row: 80/127;
        grid-column: 3/26;
    }
}

#Slide1{
    background-image: url(/assets/Imagenesslider/electrician-1080586_1920-minw.jpg); 
    background-size: cover;
    color: black;
}
#Slide4 .SobreNosotrosSlider a{
    background-color: whitesmoke;
    color: #333333;
}
.SobreNosotrosSlider{
    margin-left: 70px;
}
.SobreNosotrosSlider a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    background-color: #333333;
    color: whitesmoke;
    font-weight: 800;
}
#Slide1 .title h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #364586;
}
#Slide1 .text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#Slide3 .title h1{
    color: #3f7731;
    font-weight: 700;
}
#Slide3 .text p{
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
}

.ContentRenovable{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}
.EachRenovable{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    align-items: center;
    margin: 0 45px;
}
.EachRenovable img{
    width: 60px;
    height: 60px;
}
.EachRenovable p{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 0;
    font-weight: 900;
    font-size: 14px;
}



@media screen and (max-width:1125px){
    .top{
        font-size: 14px;
    }
    #Slide1{
        background-image: url(/assets/Imagenesslider/electrician-1080586_1920-min.jpg);
        color: white;
    }
    #Slide1 .title h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        color: white;
    }
    .SobreNosotrosSlider a{
        background-color: whitesmoke;
        color: #333333;
        font-weight: 800;
    }
}


@media screen and (max-width:1024px){
    .top{
        font-size: 13px;
    }
}

@media screen and (max-width:880px){
    .top{
        font-size: 11px;
    }
}

@media screen and (max-width:768px){
    .EachRenovable{
        display: flex;
        flex-direction: column;
        width: 60px;
        height: 60px;
        align-items: center;
        margin: 0 35px;
    }
    #Elim768{
        display: none;
    }
    .TextTop{
        display: none;
    }
    .RedesSocialesTop{
        display: none;
        grid-column: 18/27;
    }
    body{
        overflow-x: hidden;
    }
    .Body{
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-rows: repeat(150,25px);
        grid-template-columns: repeat(27,1fr);
    }
    .top{
        display: none;
    }
    .top_mobile{
        grid-row: 5/6;
        grid-column: 21/23;
        text-align: center;
        display: flex;
        font-size: 150%;
        z-index: 11;
    }
    .fa-bars{
        cursor: pointer;
    }
    .nav-links{
        padding: 0px;
        justify-content: space-around;
        position: absolute;
        display: flex;
        right: 0px;
        height: 92vh;
        top: 60px;
        background-color: #1a1a1a;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        width: 100%;
        z-index: 10;
        transition: transform 0.5s ease-in;
        font-family: 'Poppins', sans-serif;
    }
    .nav-links li{
        list-style: none;
        opacity: 0;
    }
    .nav-links a{
        color: #d9d9d9;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }


    .swiper-container {
        width: 100%;
        height: 100%;
        grid-row: 7/29;
        grid-column: 1/28;
    }
    .alldown{
        grid-row: 29/30;
        grid-column: 1/28;
        background-color: #364586;
    }
    .swiper-slide .title h1{
        font-size: 20px;
    }
    .swiper-slide .subtitle h2{
        font-size: 18px;
    }
    .swiper-slide .text p{
        font-size: 18px;
    }
    .swiper-slide .text p a{
        text-decoration: none;
        color: rgb(37, 177, 98);
        background: rgb(27, 27, 27);
        border-radius: 20px;
        height: 20px;
        width: 70px;
    }

    .ContentCenter{
        grid-row: 31/61;
        grid-column: 3/26;
    }
    .Center{
        grid-template-columns: repeat(4,1fr);
        grid-column: 1/10;
    }
    .LineBien2{
        grid-column: 2/13;
    }
    .Workers{
        grid-row: 3/10;
        grid-column: 10/13;
        position: relative;
    }

    .Experience{
        grid-row: 61/95;
        grid-column: 1/29;
        background-color: #252525;
    }
    .MainText{
        grid-row: 63/66;
        grid-column: 6/23;
        font-size: 12px;
    }
    .LineMainText{
        grid-row: 66/67;
    }
    .Mercados{
        grid-row: 67/114;
        grid-column: 3/26;
    }
    .MercText h2{
        font-size: 18px;
    }
    .Experience{
        grid-row: 61/125;
        grid-column: 1/28;
    }
    .MercadosIn{
        grid-template-rows: repeat(2,250px);
        grid-template-columns: repeat(2,1fr);
    }



    footer{
        padding-top: 0px;
        grid-row: 125/152;
        grid-column: 1/28;
    }
    .section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}

@media screen and (max-width:500px){
    .Workers{
        display: none;
    }
    .Body{
        grid-template-rows: repeat(195,25px);
    }
    .Experience{
        grid-row: 61/170;
    }
    .MercadosIn{
        grid-template-rows: repeat(2,250px);
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        grid-row: 170/197;
        grid-column: 1/28;
    }
    .EachRenovable{
        display: flex;
        flex-direction: column;
        width: 60px;
        height: 60px;
        align-items: center;
        margin: 0 20px;
    }
}

@media screen and (max-width:425px){
    .swiper-container {
        width: 100%;
        height: 100%;
        grid-row: 7/23;
        grid-column: 1/28;
    }
    .alldown{
        grid-row: 23/24;
        grid-column: 1/28;
        background-color: #364586;
    }
    .swiper-slide .title h1{
        font-size: 18px;
    }
    .swiper-slide .subtitle h2{
        font-size: 16px;
    }
    .swiper-slide .text p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .CenterDown{
        display: none;
    }
    .ContentCenter{
        grid-row: 27/57;
        grid-column: 3/26;
    }
    .MainText{
        font-size: 10px;
    }
    #Slide3{
        padding-left: 0px;
    }
    .SobreNosotrosSlider a{
        font-size: 10px;
    }
    .EachRenovable{
        display: flex;
        flex-direction: column;
        width: 60px;
        height: 60px;
        align-items: center;
        margin: 0 15px;
    }
}

@media screen and (max-width:420px){
    .Center{
        grid-template-columns: repeat(2,1fr);
        grid-column: 1/13;
    }
    .EachRenovable{
        display: flex;
        flex-direction: column;
        width: 60px;
        height: 60px;
        align-items: center;
        margin: 0 13px;
    }

}


@media screen and (max-width:375px){
    .swiper-container {
        width: 100%;
        height: 100%;
        grid-row: 7/21;
        grid-column: 1/28;
    }
    .alldown{
        grid-row: 21/22;
        grid-column: 1/28;
        background-color: #364586;
    }
    .swiper-slide .title h1{
        font-size: 16px;
    }
    .swiper-slide .subtitle {
        font-size: 14px;
    }
    .swiper-slide .text p{
        font-size: 12px;
    }


    .EachRenovable{
        display: flex;
        flex-direction: column;
        width: 60px;
        height: 60px;
        align-items: center;
        margin: 0 8px;
    }
    .EachRenovable img{
        width: 40px;
        height: 40px;
    }
    .EachRenovable p{
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        margin-top: 0;
        font-weight: 900;
        font-size: 12px;
    }
    

    
}

.nav-active{
    transform: translateX(0%);
}
.fa-window-close{
    color: rgb(233, 233, 233);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}